{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <div class="mb-5"></div>
    <h1>Hi! my name is Cristher,</h1>
    <h3>and as you might have noticed by now, I love computers!</h3>
    <div class="mb-5"></div>
    <div class="card ms-3 p-3 border-0">
        <div class="row g-0">
          <div class="col-md-5">
            <img src="static/assets/home.png" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-7">
            <div class="card-body">
                <p class="card-text">
                    It all started with AoEII (Age of Empires II) when I was 11. I was hooked on that game for several years 
                    and still play it from time to time, but how the game worked always amazed me! and couldn't stop playing 
                    computer games ever since.
                </p>
                <p class="card-text">
                    Then, when I was in high school, a friend introduced me to music production in a DAW (Digital Audio Workspace), 
                    which was just another good excuse to be all day in front of a screen. And as you will see, er... listen, 
                    in the music section, I have been creating music ever since.
                </p>
                <p class="card-text">
                    I assembled my first PC when I entered college, architecture, where in my first semester I learned by myself 
                    (well... youtube) how to model and render in 3D, which was honestly a pretty tough task but again, 
                    just another way to spend time with my computer.
                </p>
                <p class="card-text">
                    When I was in my final year of college, I took a videogame development course in Domestika, which is where 
                    I first met coding in C#, and here is where I truly fell in love with programming, even though I didn't 
                    understand a thing (that course was trash, by the way), but that woke in me the curiosity to finally 
                    learn to code.
                </p>
                <p class="card-text">
                    And for the juicy part: A good friend of mine introduced me to Python with a book that I completed in about 
                    6 months, and I realized coding was the thing I wanted to do. Shortly after this, one of my best friends 
                    showed me the CS50p (CS50's Introduction to Programming with Python) course, which, by the way, is the best 
                    academic experience I've ever had. I completed the course in 4 months and got my certificate. This course 
                    allowed me to fully understand what I learned in the book and to also learn several new concepts and ideas. 
                    Then I got lucky by getting 3 freelancing projects in Python related to data analysis that you can check out 
                    in the coding section. Instantly after finishing the CS50p course, I enrolled in CS50x 
                    (CS50's Introduction to Computer Science), and now this one blew my head clean off my body. This course showed 
                    me the really big world that you can explore with coding.
                </p>
                <p class="card-text">
                    Right now I am about to start working for a great local company, POLYDATA, which will allow me to develop 
                    myself further and explore a career path in data analysis and machine learning.
                </p>
                <p class="card-text">
                    <small class="text-muted">
                        Thanks for reading all of this.
                    </small>
                </p>
                <p class="card-text">
                    <small class="text-muted">
                        You can explore this webpage to find some programming projects all made by me in front of a computer, mostly at least...
                    </small>
                </p>
            </div>
          </div>
        </div>
    </div>
{% endblock %}